.container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // text-align: center;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // position: absolute;
}
ion-content{
    --background: rgb(139, 0, 167);
}
h1{
    color: white;
}