<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="sideMenu"></ion-menu-button>
      </ion-buttons>
    <ion-title>Customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <h1>Create Customer</h1>
        <div class="card">
        <form class="card-body" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <ion-item lines="inset">
                <ion-label position="floating">Name</ion-label>
                <ion-input required formControlName="name" type="text"></ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label position="floating">Age</ion-label>
                <ion-input formControlName="age" type="text"></ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label>Date of Birth</ion-label>
                <ion-datetime display-format="DD.MM.YYYY" formControlName="dob"></ion-datetime>
            </ion-item>
            <ion-list>
                <ion-radio-group name="auto" value="Male" formControlName="gender">
                    <ion-list-header>
                        <ion-label>Gender</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label>Male</ion-label>
                        <ion-radio value="Male"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Female</ion-label>
                        <ion-radio value="Female"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Others</ion-label>
                        <ion-radio value="Others"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-item lines="inset">
                <ion-label position="floating">Image Link Address</ion-label>
                <ion-input formControlName="profilePic" type="text"></ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label position="floating">Phone</ion-label>
                <ion-input formControlName="phone" type="text"></ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label position="floating">Department</ion-label>
                <ion-input formControlName="department" type="text"></ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label position="floating">Contact Reference</ion-label>
                <ion-input formControlName="contact_reference" type="text"></ion-input>
            </ion-item>
        </form>
    </div>
    <ion-button expand="block" type="submit" style="--background: white; color: #b359c6; font-size: larger; font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
        Add Customer
    </ion-button>
</div>
</ion-content>
