<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Create
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="customerForm">
            <ion-item>
                <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName="city" placeholder="City"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName="orderTotal" placeholder="Order Total"></ion-input>
            </ion-item>
            <ion-button type="submit">
                Done
            </ion-button>
        </form>
    </div>
</ion-content>