<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
        <ion-title>View Customer</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
<div class="container">
    <ion-item slot="start" lines="none" color="none" [routerLink]="['/customers/customersList']" >
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label>Back</ion-label>
    </ion-item>
    <div class="card text-center" *ngFor="let customer of customerData; let i=index">
        <div class="card-header">
            <h1>{{customer.name}}</h1>
        </div>
        <div class="card-body">
            <ion-avatar class="profilePic">
                <img [src]="customer.profilePic" alt="Profile Picture Not Found"/>
            </ion-avatar>
        <!-- <img class="proPic" style="width:200px" [src]="customer.profilePic"  /> -->
        <div class="table-responsive">
        <table class="table table-borderless text-left">
            <tbody class="table-body">
              <tr>
                <th scope="row">Age</th>
                <td>{{customer.age}}</td>
              </tr>
              <tr>
                <th scope="row">Date of Birth</th>
                <td>{{customer.dob}}</td>
              </tr>
              <tr>
                <th scope="row">Gender</th>
                <td>{{customer.gender}}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{customer.email}}</td>
              </tr>
              <tr>
                <th scope="row">Phone No.</th>
                <td>{{customer.phone}}</td>
              </tr>
              <tr>
                <th scope="row">Department</th>
                <td>{{customer.department}}</td>
              </tr>
              <tr>
                <th scope="row">is Active</th>
                <td>{{customer.isActive}}</td>
              </tr>
              <tr>
                <th scope="row">Contact Reference</th>
                <td>{{customer.contact_reference}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-secondary" [routerLink]="['/customers/view_customer/' + customer.id]" type="button">Edit</button>
        <button class="btn btn-danger" (click)="deleteCustomer(customer.id)" type="button">Delete</button>
      </div>
    </div> 
  </div>
</ion-content>