<div class="container">      
    <ion-card *ngFor="let customer of customerData; let i=index" style="margin: 15px;">
      <img style="width: 20%; max-width: 200px;" src="https://cdn1.iconfinder.com/data/icons/website-internet/48/website_-_male_user-512.png" />
      <div class="card-content" style="width: 80%;">
          <h1>{{customer.name}}</h1>
          <div class="table-responsive">
          <table class="table">
              <tbody>
                  <tr>
                      <td>Age</td><td>{{customer.age}}</td>
                  </tr>
                  <tr>
                      <td>Date of Birth</td><td>{{customer.dob}}</td>
                  </tr>
                  <tr>
                      <td>Gender</td><td>{{customer.gender}}</td>
                  </tr>
                  <tr>
                      <td>Phone</td><td>{{customer.phone}}</td>
                  </tr>
                  <tr>
                      <td>Email</td><td>{{customer.email}}</td>
                  </tr>
                  <tr>
                      <td>Department</td><td>{{customer.department}}</td>
                  </tr>
                  <tr>
                      <td>is Active</td><td>{{customer.isActive}}</td>
                  </tr>
                  <tr>
                      <td>Contact Reference</td><td>{{customer.contact_reference}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
    </ion-card>
</div>