<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Customers Data
    </ion-title>
    <ion-buttons slot="end">
        <ion-button [routerLink]="['/home/practice']" >
            Practice
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container" #customerTable>
        <div class="header">
            <h1>Customers</h1>
            <ion-button [routerLink]="['/home/create']"> Create </ion-button>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Order Total</th>
                    <th scope="col">Update / Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of customerData; let i = index">
                    <th scope="row">{{customer.id}}</th>
                    <td>{{customer.name}}</td>
                    <td>{{customer.city}}</td>
                    <td>{{customer.orderTotal}}</td>
                    <td style="justify-content: space-evenly; display: flex;">
                        <ion-button> Update </ion-button>
                        <ion-button color="danger"> Delete </ion-button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</ion-content>